<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />

    <uses-permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />

    <application
        android:name=".DnsRwApplication"
        android:allowBackup="false"
        android:description="@string/app_description"
        android:icon="@drawable/ic_dns"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DnsRw"
        tools:ignore="DataExtractionRules">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NetworkObservationReceiver"
            android:directBootAware="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="me.aite.dnsrw.action.NETWORK_OBSERVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
